.favorite-item{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
}

img {
    border-radius: 5px;
    cursor: pointer;
}

.favorite-item p{
    color: #F7C04A;
    font-weight: 700;
    font-size: 20px;
    margin: 12px 0 12px 0px;
    cursor: pointer;
}

.favorite-item button{
    background-color: #F7C04A;
    border: none;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    padding: 12px 40px;
}

.favorite-item button:hover {
    background-color: #e0ab3a;
}
