.favorites-wrapper {
    flex-direction: column;
    display: flex;
  }
  
  .favorites {
    display: flex;
    gap: 25px;
    overflow: auto;
    margin-bottom: 30px;
  }

  .favorites-found {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .items {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .loading, .no-items  {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
  }
  
  .favorites-title {
    color: #F7C04A;
    font-weight: 700;
    font-size: 35px;
    margin: 12px 0 12px 0px;
    margin: 20px 0px;
  }
  
  .search-favorites input {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: none;
    padding: 10px 50px 10px 5px;
    margin-bottom: 30px;
  }

  .search-favorites input:focus {
    outline: none;
  }
  

  